<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fetch Rewards Coding Assessment - Machine Learning Engineer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <form action="/" method="post">
        <div class="container py-3">
            <div class="row">
              <div class="col-md-12"> 
                <h2 class="text-center mb-3">Fetch Rewards Coding Assessment - Machine Learning Engineer</h2>
                <hr class="mb-4">
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <span class="anchor" id="formLogin"></span> 
                    <div class="card card-outline-secondary">
                      <div class="card-header">
                        <h3 class="mb-0">Input Fields</h3>
                      </div>
                      <div class="card-body">
                        <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
                          <div class="form-group">
                            <label for="uname1">Corner points</label> 
                            <div class="row mb-1">
                                <div class="col-lg-12">
                                  <textarea required class="form-control" id="corner_points" name="corner_points" rows="6"></textarea>
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                            <label>Image dimensions</label> 
                                <input required class="form-control" type="text" id="image_dimensions" name="image_dimensions">
                          </div>
                            <button class="btn btn-success btn-lg float-right" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>

                    <br/>
                    <div id ="result">
                        <strong style="color:green"> {{result}}</strong>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        
      </form>
</body>
</html>